@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,600;1,900");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', 'sans-serif';
}

html{
    font-size: 16px;
}


.punch{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 4rem;
}

.fas{
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 32px;
}

.linetop, .linebottom{    
    width: 12%;
    height: 4px;
    background-color: black;
}


.container{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

}

@media (min-width: 641px){
    .container{
        padding-left: 3rem;
        padding-right: 3rem;

    }
}

@media (min-width: 992px){
    .container{
        padding-left: 5rem;
        padding-right: 5rem;

    }
}

@media (min-width: 1200px){
    .container{
        padding-left: 8rem;
        padding-right: 8rem;

    }
}