.links{
    background-color: #121212;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
}

.links  > .icon-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.links > .icon-container .icon-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 100%;
    border-style: solid;
    border-color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ;
}

.links > .icon-container .icon-badge:hover{
    background-color: #383737;
}

.links > h3{
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}