nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #121212;
    color: #fff;
}
 a{
    text-decoration: none;
    font-weight: bold;   
    color: #fff;
    transition: 0.3s;
}

 a:hover{
    opacity: 0.7;
}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
    font-size: 3vh;
    letter-spacing: 1px;
    margin-left: 32px;
}
.logo img{
    width: 100%;
    height: 10vh;
    object-fit: cover;
}


@media (max-width :500px){
    .logo img{
        height: 6vh;
    }
}