.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f1a90d    ;
    flex-wrap: wrap;
}

.street{
    width: 100%;
    height: 17.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
} 

.punch{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 7rem;
}

.fas{
    color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 32px;
}
.linetop, .linebottom{    
    width: 10%;
    height: 4px;
    background-color: black;
}

.principal h1{
    color: #212529;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}