.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f1a90d;
}

.street{
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: auto;
    max-height: 20rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    object-fit: cover;
} 

.principal h1{
    color: #212529;
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.principal p{
    color: #212529;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
}